doctype html
html
  head
    link(rel="stylesheet", href="style.css")
  body
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia hic in ducimus dolore eligendi natus ipsum ex, quas quibusdam obcaecati saepe vel nemo tempore maxime et quaerat distinctio ipsa deserunt.
    p.
      ,vbdsv,bd,vnda
      mjdfgbfmb
      asdmfbsdfjbh
    //- div
    .myclass
    //- id
    #myid
    //- html class add 
    p.myclass
    //- html id add 
    p#myid
    //- JS 
    //- add multiple classes with an array
    -const arr=["col-1","md","bg-dark"];
    //- attribute
    h1(class=arr)

    -const options=[];
    //- itreation
    nav
      ul
        for option in options
          li=option
        else
          p no options available
    a(href="/home")
