doctype html
html 
  head
    link(rel="stylesheet" href="css/style.css")
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    
    title #{pageName}
  body
    block header
      include nav
    block content
     h2 base page
    include footer   
    script(src="/js/script.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js")
    script(src="https://js.stripe.com/v3/")
    script(src="/js/frontend.js")