extend base
block content
  .container__forgetPassword
    .updateUser-form
      h2.heading-secondary.ma-bt-lg Forgot password?
      form.forget
        .entry
          .entry-text Enter Your Email
          input(type='email', name='email', placeholder='Your Email')
        .btn-parent
          button.btn.btn-full.form-button(type="submit") Send Me Mail