extends base
block content
  head
  body
    .container
       h1 Welcome #{user.name} , Always good to see you!
       h2 your Email ID is #{user.email}
       h4 your role is #{user.role}
       a(href="/updatePassword") Update your password
       a(href="/updateUser") UPDATE YOUR ACCOUNT
