.showcase
  h1.main-heading
      |  MEAL PLANS</br>
      | FOR <span class="developer">EVERYONE</span>
    
  <div class="btns">
    <a href="" class="btn">Book Now</a>
    <a href="" class="btn btn-empty">Show me more</a>
  </div>
