extend base
block content
  .container__updatePassword
    .updateUser-form
      h2.heading-secondary.ma-bt-lg Update your password
      form.updatePassword 
        .form__group.ma-bt-md
          label.form__label(for='password') Old Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password') Confirm Password
          input#confirmPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn-full.form-button(type="submit") SignUp